
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.controls {
    position:absolute;
    top:40%;
    transform: translate(-2%);
    right:0;
    width: 80px;
}

.controls li {
    background:rgb(75, 187, 75);
    position:relative;
    width:80px;
    height:80px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.controls li:hover {
    background:rgb(240, 55, 55)
}

.controls li:before {
    content: '' ;
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(45deg);
}

.controls li:nth-child(2):before {
    transform: rotate(225deg);
}


.numbers {
    position:absolute;
    top:57.3%;
    transform: translate(-2%);
    right:0;
    width: 80px;
    display: flex;
}

.numbers li {
    background:rgb(75, 187, 75);
    position:relative;
    width:40px;
    height:40px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.banner{
    position:relative;
    width:100%;
    min-height:100vh ;
}

.banner .textBx {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}

.banner .textBx p {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
    text-align:center;
}

.banner .textBx p.active{
    opacity: 1;
}